* {
	margin: 0;
	padding: 0;
}

header {
	background-color: rgb(46, 46, 46);
	justify-content: center;
	text-align: center;
}

header h1 {
	font-size: 2.7em;
	color: #fff;
}

body {
	justify-content: center;
	text-align: center;
	align-items: center;
	background-image: linear-gradient(
		to left,
		#242424,
		#6b6b6b
	);
}

body h1 {
	font-size: 2.7em;
	color: #fff;
}

body button {
	font-size: 14;
}